:root {
    --white: rgb(255, 255, 255);
    --background: #141519;
    --orange: #f8771b;
    --darkBlue: rgb(23,30,40);
    --grayBlue: #232B35;
    --textGray: #7a808c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
}
p {
    color: var(--textGray);
    font-size: 12px;
    line-height: 1.6em;
    margin: 10px 0px 0px 0px;

}
body{
    background: var(--background);
    color: var(--white);
}
.container-flex {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container-flex h1 {
    width: 100%;
}

.flex-box {
    padding: 30px 24px;
    height: 400px;
    display: flex;
    background: var(--darkBlue);
    background: linear-gradient(332deg, rgba(23,30,40,1) 0%, rgba(30,37,47,1) 100%);
    flex-wrap: wrap;
    margin: 10px;
    border-radius: 24px;
    width: 335px;
    box-shadow:  inset 0px 48px 100px -5px rgba(33, 44, 56, 0.5);;
}
#span-img {
    background: var(--grayBlue);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 0px 0px 24px 0px;
}
#img {
    margin: 14px;
    width: 13px;
    height: 13px;
}
.flex-choices {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.btnChoice{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--grayBlue);
    border-radius: 50%;
    height: 40px;
    width: 40px;

}
.btnChoice:hover {
    cursor: pointer;
    background: var(--orange);
}
#btnSubmit {
    width: 280px;
    height: 45px;
    margin:0 auto;
    border-radius: 40px;
    border: none;
    color: var(--white);
    background: var(--orange);
    font-weight: bold;
    letter-spacing: 0.1em;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.541);
    box-shadow: inset 2px 2px 8px -3px #faa162;
}
#btnSubmit:hover {
    transition: 0.3s ease-in-out;
    cursor: pointer;
    color: var(--orange);
    background: var(--white);
}

@media screen and (max-width: 440px) {
    
    body {
        background: red;
    }

    .flex-box {
        padding: 30px 24px;
        margin: 10px;
        width: 305px;
    }
    .container-flex {
        width: 100vw;
    }
    p {
        color: #7a808c;
        font-size: 14px;
        line-height: 1.6em;
        margin: 10px 0px 0px 0px;
    
    }
}