* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
}
p {
    color: #7a808c;
    font-size: 12px;
    line-height: 1.6em;
    margin: 10px 0px 0px 0px;

}
body{
    background:#141519;
    color: white;
}
.container-flex {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 80vw;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container-flex h1 {
    width: 100%;
}

.flex-box {
    padding: 30px 24px;
    height: 330px;
    display: flex;
    background: rgb(23,30,40);
    background: linear-gradient(332deg, rgba(23,30,40,1) 0%, rgba(30,37,47,1) 100%);
    flex-wrap: wrap;
    margin: 10px;
    border-radius: 24px;
    width: 335px;
    box-shadow:  inset 0px 18px 80px -5px rgb(28, 38, 49);;
}
#span-img {
    background: #232B35;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 0px 0px 24px 0px;
}
#img {
    margin: 14px;
    width: 13px;
    height: 13px;
}
.flex-choices {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.btnChoice{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #232B35;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.btnChoice:hover {
    cursor: pointer;
    background: #f8771b;
}
#btnSubmit {
    width: 280px;
    height: 45px;
    margin:0 auto;
    border-radius: 40px;
    border: none;
    color: white;
    background: #FC7613;
}
#btnSubmit:hover {
    transition: 0.3s ease-in-out;
    cursor: pointer;
    color: #f8771b;
    background: white;
}

@media screen and (max-width: 440px) {
    
    body {
        background: red;
    }

    .flex-box {
        padding: 30px 24px;
        margin: 10px;
        width: 305px;
    }
    #btnSubmit {
        width: 260px;
    }
    .btnChoice{
        height: 40px;
        width: 40px;
    }
    .container-flex {
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        width: 80vw;
        height: 100vh;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}