/* VAR */
:root { 
    --white: rgb(255, 255, 255);
    --background: #141519;
    --orange: #f8771b;
    --darkBlue: rgb(23,30,40);
    --grayBlue: #232B35;
    --textGray: #7a808c;
}
 /* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
}
/* Desabitiar seleção de texto */
 .disable-text {
    -webkit-user-select:none;
    -webkit-touch-callout:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none; 
 }
/* first page */
body{
    background: var(--background);
    color: var(--white);
}
.container-flex {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#h1-first-page {
    width: 100%;
}
.p-first-page {
    color: var(--textGray);
    font-size: 12px;
    line-height: 1.6em;
    margin: 10px 0px 0px 0px;
}
/* flex-box is being used for both */
.flex-box {
    padding: 26px 24px;
    height: 340px;
    display: flex;
    background: var(--darkBlue);
    background: linear-gradient(332deg, rgba(23,30,40,1) 0%, rgba(30,37,47,1) 100%);
    flex-wrap: wrap;
    margin: 10px;
    border-radius: 24px;
    width: 335px;
    box-shadow: inset 0px 133px 193px -51px rgba(32, 40, 49, 0.527);
}
#span-img {
    background: var(--grayBlue);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 0px 0px 24px 0px;
}
#img {
    margin: 14px;
    width: 13px;
    height: 13px;
}
.flex-choices {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.btnChoice{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--grayBlue);
    border-radius: 50%;
    color: var(--textGray);
    font-size: 0.8em;
    font-weight: bold;
    height: 40px;
    width: 40px;

}
.btnChoice:hover {
    cursor: pointer;
    background: var(--orange);
    color: var(--white);
}
#btnSubmit {
    width: 280px;
    height: 40px;
    margin:0 auto;
    border-radius: 40px;
    border: none;
    color: var(--white);
    background: var(--orange);
    font-weight: bold;
    letter-spacing: 0.1em;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.541);
    box-shadow: inset 5px 5px 8px -3px #b94f03;
}
#btnSubmit:hover {
    transition: 0.3s ease-in-out;
    cursor: pointer;
    color: var(--orange);
    background: var(--white);
    box-shadow: inset 0px 0px 0px 0px #ffffff;
}

/* seconde page */

#second-page {
    display: none;
    display: flex;
    justify-content: center;
    
}
#thanks-img {
    pointer-events: none;
    display: flex;
    height: 130px;
    width: 50%;
    object-fit: contain;
}
#span-rating {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 55%;
    object-fit: cover;
    color: #C97334;
    font-size: 0.8em;
    margin: 10px 0px 12px 0px;
    background: var(--grayBlue);
    padding: 2px;
    border-radius: 24px;
    height: 25px;
}
.text-second-page {
    text-align: center;
}
.h1-second-page {
    width: 100%;
}
.p-second-page {
    color: var(--textGray);
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.6em;
    margin: 10px 0px 0px 0px;
}

/* Responsive */
@media screen and (max-width: 440px) {
    .flex-box {
        padding: 12px;
        margin: 10px;
        width: 305px;
        border-radius: 16px;
        height: 365px;
    }
    .container-flex {
        width: 100vw;
    }
    .p-first-page {
        color: #7a808c;
        font-size: 14px;
        line-height: 1.6em;
        margin: 2px 0px 0px 0px;
    }
    #btnSubmit {
        height: 35px;
        font-weight: bold;
    }
}